/* Personaliza el header */
header {
    animation: fadeIn 2s ease-in-out;
}

/* estilos.css */
.bg-morado {
    background-color: #351a7e; /* Color azul oscuro personalizado */
    color: white;
}

.bg-celeste-claro {
    background-color: #e8f6fa; /* Color azul oscuro personalizado */
}

.bg-amarillo {
    background-color: #f5e324;
}

.bg-amarillo:hover {
    background-color: #a2971a;
    color: #e8f6fa;
}

.bg-anaranjado {
    background-color: #ff720e;
    color: #e8f6fa;
}

.bg-anaranjado:hover {
    background-color: #c55a0d;
    color: #e8f6fa;
}

.bg-btn-vino {
    background-color: #7a1b27;
}

.bg-btn-vino:hover {
    background-color: #FACC15;
    color: #7a1b27;
}

.bg-azul-oscuro {
    background-color: #160864;
    color: #e8f6fa;
}

.bg-azul-oscuro:hover {
    background-color: #0a0429;
    color: #e8f6fa;
}

.bg-celeste-verdoso {
    background-color: #5594a2;
    color: #e8f6fa;
}

.bg-celeste-verdoso:hover {
    background-color: #2f5057;
    color: #e8f6fa;
}

.bg-verde-opaco {
    background-color: #effff3;
}

.bg-morado-oscuro {
    background-color: #2a0645;
    color: #e8f6fa;
}

.bg-morado-oscuro:hover {
    background-color: #160424;
    color: #e8f6fa;
}

.bg-beich {
    background-color: #2e5262;
}

.bg-card-container-amarillo {
    background-color: #E1B53E;
}

.bg-card-azul {
    background-color: #0c1e47;
}

.bg-card-morado {
    background-color: #360530;
}

.bg-card-morado-tenue {
    background-color: #2e1b4a;
}

.texto-morado {
    color: #351a7e;
}

.texto-morado-tenue {
    color: #4755b4;
}

.texto-amarillo {
    color: #DAB755;
}

.texto-anaranjado {
    color: #ff7d22;
}

.border-morado-tenue {
    border-color: #4755b4;
}

.bg-gradient-to-b {
    z-index: 1; /* Asegura que la sección no sea cubierta */
}

/*Estilos Contactos*/

.borde-morado {
    border: 2px solid #351a7e; /* Borde morado visible */
    padding: 8px; /* Asegura que el contenido no quede pegado al borde */
    outline: none; /* Elimina el borde adicional al hacer clic */
    border-radius: 0.375rem; /* Mantiene los bordes redondeados */
}

.borde-morado:focus {
    border-color: #4b2aae; /* Cambia el color del borde cuando el input está enfocado */
    box-shadow: 0 0 4px #4b2aae; /* Agrega un leve resplandor morado */
}

.btn-ratio-morado {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #351a7e; /* Color del borde */
    border-radius: 50%; /* Hace que el radio button sea redondeado */
    width: 18px; /* Tamaño del radio button */
    height: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: white;
}

.btn-ratio-morado:checked {
    background-color: #351a7e; /* Color del radio button cuando está seleccionado */
    border-color: #351a7e; /* Color del borde cuando está seleccionado */
}

.btn-ratio-morado:focus {
    outline: none; /* Elimina el contorno de enfoque predeterminado */
    box-shadow: 0 0 4px #4b2aae; /* Resplandor cuando está enfocado */
}


#modal {
    z-index: 1000; /* Asegura que el modal se quede por encima */
}

/*Estilos Testimonios*/

#testimonios {
    display: flex;
    gap: 1.5rem; /* Espaciado entre los testimonios */
    overflow: hidden;
}

/* Solo mostrar 3 testimonios */
.testimonio {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.testimonio.active {
    opacity: 1;
    transform: translateX(0);
}

.testimonio.hidden {
    display: none;
}

#prev, #next {
    font-size: 1rem;
    font-weight: 500;
}

/*Efecto Parallax*/

.parallax {
    background-attachment: fixed;  /* Esto mantiene el fondo fijo mientras se hace scroll */
    background-position: center;   /* Ajusta el fondo para que se centre */
    background-size: cover;        /* Asegura que el fondo cubra toda el área */
    height: 100vh;                 /* Asegura que la sección tenga al menos la altura de la ventana */
    position: relative;            /* Necesario para el contenido absoluto */
  }
  
/* Asegúrate de que el texto sea legible sobre el fondo */
.parallax h2 {
    font-size: 2rem;  /* Ajusta el tamaño según sea necesario */
    font-weight: bold;
}


/* Efecto hover para los botones */
#prev:hover, #next:hover {
    background-color: #2d3748; /* Fondo gris más oscuro */
}

/* Estilo para alinear los botones */
#prev, #next {
    margin: 0 10px;
}

/* Estilo para el contenedor de los botones */
#prev, #next {
    margin-top: 20px;
    display: inline-block;
}

/* Evitar el desbordamiento en pantallas pequeñas */
@media (max-width: 768px) {
    #testimonios {
        flex-direction: column;
    }

    #testimonios-wrapper {
        width: auto;
    }
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}  

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .animate-spin-slow {
    animation: spin 10s linear infinite;
  }


  .swiper-wrapper {
    width: 100%;
    height: max-content !important;
    padding-bottom: 64px !important;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
    }
    .swiper-pagination-bullet {
    background: #4f46e5;
    }

    